@import 'variables';

input[type=range]::-moz-range-track {
    height: 10px;
    background: $light-font-color;
    border: none;
    border-radius: 20px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: darken($glowing-font-color, 10%);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    &:active {
        background-color: darken($glowing-font-color, 20%);
    }
}

input[type=range]::-moz-range-progress {
    height: 10px;
    border: none;
    border-radius: 20px;
    background-color: $glowing-font-color;
}

// CHROME
input[type=range] {
    -webkit-appearance: none;
    background-color: $dashboard-color;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 10px;
    background: $light-font-color;
    border: none;
    border-radius: 20px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -5px;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: darken($glowing-font-color, 10%);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    &:active {
        background-color: darken($glowing-font-color, 20%);
    }

}

.form__input-name {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    color: $dark-font-color;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form__input-name input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    cursor: pointer;
}

.form__checkbox-input {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border: 1px solid $light-font-color;
    border-radius: 2px;
    background-color: transparent;
}

.form__input-name input:checked~.form__checkbox-input {
    border-color: $glowing-font-color;
    background-color: $glowing-font-color;
}

.form__checkbox-input:after {
    content: "";
    position: absolute;
    display: none;
}

.form__input-name input:checked~.form__checkbox-input:after {
    display: block;
}

.form__input-name .form__checkbox-input:after {
    top: 8%;
    left: 35%;
    // transform: translate(-50%, -50%);
    width: 5px;
    height: 10px;
    border: solid $light-font-color;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}