$background-color: #121212;
$dashboard-color: #1E1E1E;
$light-font-color: #DEDEDE;
$dark-font-color: #979797;
$glowing-font-color: #a644FF;
$indicator-bad: #F44336;
$indicator-good: #FFC107;
$indicator-great: #4CAF50;
$padding-container: 16px 18px;
$padding-element: 20px 0;
$radius: 5px;